{% extends "base_bootstrap.html" %}
{% load asset_tags %}
{% block  content %}
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Purchase Date</th>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">Entry Price</th>
        <th scope="col">Size</th>
        <th scope="col">Target Price</th>
        <th scope="col">Stop Price</th>
        <th scope="col">Profit/Loss</th>
        <th scope="col">Current Price</th>
        <th scope="col">Action</th>
        </tr>
  </thead>
    {% if asset_list%}
    <tbody>
        {% for asset in asset_list %}
        <tr>
            <td>{{asset.purchase_date}}</td>
            <td>{{asset.type}}</td>
            <td><b>{{asset.name}}</b></td>
            <td>${{asset.entry_price}}</td>
            <td>{{asset.size}}</td>
            <td>${{asset.target_price}}</td>
            <td>${{asset.stop_price}}</td>
            {% if asset.profit < 0 %}
            <td class="Loss">
            {% else %} 
            <td class="Profit">
            {% endif %} 
                ${{asset.profit}}</td>
            <td>${{asset.current_price}}</td>
             <td>
                <a href={% url 'home:asset_update' asset.id %}> Update </a> <br>
                <a href={% url 'home:asset_delete' asset.id %}> Delete </a>
             </td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
    <p> 
        <a href="{% url 'home:asset_create' %}"> Add asset </a>
    </p>

</table>
{% endblock %}
