{% extends "base_bootstrap.html" %}
{% block content %}
  <form action="" method="post">
    {% csrf_token %}
  
    <div id="name" class="new-row">
      <div class="form-group row">
          <h5 class="col-sm-1 col-form-label">Name: </h5>
          <div>{{ form.name }} </div> 
          <h5 class="col-sm-1 col-form-label">Date:</h5>
          <div>{{ form.purchase_date }} </div>
      </div> 
    </div>

    <div class="new-row" style="width: 60%;">
        <div class="form-group row">
          <h5 class="col-sm-2 col-form-label">Amount: </h5>
          <div class="col-sm-5">{{ form.size }} </div>
        </div> 
    </div>
    
    <div id="entry" class="new-row" style="width: 50%;">
        <div class="form-group row">
          <h5 class="col-sm-3 col-form-label"> Entry Price: </h5>
          <div class="col-sm-5">{{ form.entry_price }} </div>
        </div>
    </div>
    
    <div class="new-row">
      <div class="form-group row">
        <h5 class="col-sm-1 col-form-label">Type: </h5>
        <div>{{ form.type }} </div> 
        <h5 class="col-sm-1 col-form-label">Portfolio:</h5>
        <div>{{ form.portfolio }} </div>
      </div>
    </div>

    
    <div class="new-row" id="option" style="width: 50%;" >
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"> Option </label>
        <div class="col-sm-10">{{ form.option_type }} </div>
        <label class="col-sm-2 col-form-label"> Strike: </label>
        <div class="col-sm-10">{{ form.option_strike }} </div>
        <label class="col-sm-2 col-form-label"> Expiry: </label>
        <div class="col-sm-10">{{ form.option_expiry }} </div>
      </div>
    </div>

    <a href='#' class='advanced'>Advanced Options</a>

    <div class="new-row" id='advancedOptions'>
        <div class="form-group row">
            <h5 class="col-sm-1 col-form-label">Stop: </h5>
            <div>{{ form.target_price }} </div> 
            <h5 class="col-sm-1 col-form-label">Target:</h5>
            <div>{{ form.stop_price }} </div>
        </div> 
    </div>
    {{ form.errors }}

    <div style="padding-top: 25px;">
    <input class="btn btn-primary mb-2" type="submit" value="Submit" action="" method="post">
    <input class="btn btn-secondary mb-2" type="submit" onclick="window.location='{% url 'home:all' %}' ; return false;" value="Cancel">
    </div>
  </form>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script>
    window.onload = showOptionsFields;
    function showOptionsFields()
    {
        if (document.getElementById("asset-type").value == "option"){
          document.getElementById("option").style.display = 'block';
        }
        else if(document.getElementById("asset-type").value == "cash"){
          document.getElementById("option").style.display = 'none';
          document.getElementById("name").style.display = 'none';
          document.getElementById("entry").style.display = 'none';
        }
        else{
          document.getElementById("name").style.display = 'block';
          document.getElementById("entry").style.display = 'block';
          document.getElementById("option").style.display = 'none';
        }
    }

    $(document).ready(function () {
      $('#advancedOptions').hide();
      $('.advanced').click(function() {
          if ($('#advancedOptions').is(':hidden')) {
              $('#advancedOptions').slideDown();
          } else {
              $('#advancedOptions').slideUp();
          }
      });
    });

  </script>
{% endblock %}
