{% extends "base_bootstrap.html" %}
{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <div id="new-row">
      <div class="form-group row">
          <label class="col-sm-1 col-form-label">{{ form.name.label }}: </label>
          <div class="col-sm-5">{{ form.name }} </div> 
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">{{ form.cash.label }}: </label>
        <div class="col-sm-5">{{ form.cash }} </div> 
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">{{ form.type.label }}: </label>
        <div class="col-sm-5">{{ form.type }} </div> 
      </div>
    </div>

    <div style="padding-top: 25px;">
    <input class="btn btn-primary mb-2" type="submit" value="Submit">
    <input class="btn btn-secondary mb-2" type="submit" onclick="window.location='{% url 'home:all' %}' ; return false;" value="Cancel">
    </div>
  </form>
  
{% endblock %}
