
h1{
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: auto;
  text-align: center;
  font-family: 'Courier New', monospace;
  font-size: 65px;
  font-weight: 400;
}

.header img {
  float: right;
  margin-right: 10em;
  width: 100px;
  height: 80px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

h1.form{
  font-size: 45px;
  text-align: left;
}
h2 { 
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-family: 'American Typewriter', serif;
  font-size: 40px;
}

.invest-head {
  float:left;
}

.one {
  float: left;
  width: 60%;
}

.two {
  margin-top: 5em;
  margin-left: 60%;
}

.three {
  margin-top: 5em;
  margin-left: 60%;
}

.Loss {
    color: #c11312;
  }
  
.Profit {
    color: #087900;
}

#account {
  text-align: center;
}

td.net {
  text-align: left;
}

#investment {
  font-size: 19px;
  font-family: 'Open Sans';
  font-variant-numeric: slashed-zero;
}

#summary {
  font-size: 20px;
  font-family: 'Open Sans';
}

div.footer {
  left: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

a.advanced{
  padding: 5px 10px;
}

.button {
  font-family: 'Palatino', 'URW Palladio L', serif;
  transition-duration: 0.4s;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
.button:hover {
  background-color: #696969; 
  color: white;
}
a.add:link, a.add:visited {
  background-color: white;
  color: black;
  border: 2px solid rgb(47, 48, 47);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.add:hover, a.add:active {
  background-color: rgb(78, 78, 78);
  color: white;
}

a.modify {
  font-family: 'Times', 'Times New Roman', serif;
  font-size: 16px;
  color: rgb(11, 12, 71);
}

div.new-row {
  margin-top: 2em;
  font-family: 'Open Sans';
  font-size: 19px;
  font-weight: 200;
}


